@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-default {
    @apply duration-200 ease-in-out;
  }
}

:root {
  --colors-sky: #0ea5e9;
  --colors-green: #1db847;
  --colors-red: #fa423c;
  --colors-purple: #5f5afa;
  --colors-pink: #ff5ca0;
  --colors-orange: #ff801f;
  --colors-yellow: #ffd014;
  --colors-accent: #fff;
  --colors-lightBlue: #eff4fe;
  --colors-label: #000;
  --colors-labelWhite: #fff;

  --colors-dark-blue: #3898ff;
  --colors-dark-green: #4bd166;
  --colors-dark-red: #ff6257;
  --colors-dark-purple: #7a70ff;
  --colors-dark-pink: #ff7ab8;
  --colors-dark-orange: #ff983d;
  --colors-dark-yellow: #ffdf3d;
  --colors-dark-label: #fff;
  --colors-dark-labelWhite: #fff;
  --colors-dark-lightBlue: #252c39;
}

::selection {
  background-color: var(--selectionColor);
  color: var(--colors-labelWhite);
  -webkit-text-fill-color: var(--colors-labelWhite);
}

::-moz-selection {
  background-color: var(--selectionColor);
  color: var(--colors-labelWhite);
  -webkit-text-fill-color: var(--colors-labelWhite);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  min-height: 70px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(125, 125, 125, 0.3);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
